@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
  margin: 0;
  background: rgb(162, 170, 173);
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherForm{
  margin: 20px;
}

.cityInput{
  padding: 10px;
  margin: 10px;
  width: 200px;
  font-size: 1.5rem;
  font-weight: bolder;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 10px;
}

.searchWeather{
  padding: 5px 5px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(173, 216, 230);
  color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}
.searchWeather:hover{
  background-color: #73d7ff;
}

